*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{
    border: 1px solid rgb(255, 255, 255);
    padding: 2rem;
}

.nav-bar{
    position: fixed;
    width: 100%;
    background-color: aqua;
    padding: 1rem;
}

.nav-bar img{
       width: 5%;
    
}

.backgroundIMG{
    background-image: url(https://static.vecteezy.com/system/resources/previews/003/527/828/original/dark-blue-space-planet-background-illustration-with-stars-and-gradient-effect-can-use-for-poster-business-banner-flyer-advertisement-brochure-catalog-web-site-website-presentation-free-vector.jpg);
    background-size: cover;
    width: 100%;
}